/* Normalización de estilos */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Estilos body */
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 10px;
    gap:20px;
}
/* Estilos de los div */
.box {
    width: 200px;
    height: 200px;
}

#box1 {
    background-color: blue;
}

#box2 {
    background-color: red;
}

#box3 {
    background-color: green;
}

#box4 {
    background-color: yellow;
}

#key{
    border: 2px solid black;
}